<section id="about-me">
    <div id="about-me-content" class="content-container">
        <div class="section-header">
            About Me
        </div>
        <div id="about-me-description">
            <span class="quote">"Developer. Engineer. Biologist. Scientist. Bass player. Gamer. Cat dad."</span>
            <br><br>
            I call myself many things, but in the end, I am a nerdy guy with diverse interests, perpetually one payday removed from a Warhammer obsession. I enjoy diving into new subjects — either
            natural or technological, discerning their inner workings, and applying them in fun and interesting ways. I am ever driven by a thirst for knowledge and avoiding personal stagnation.
            <br><br>
            Back in the day, I wanted nothing more than to be a veterinarian. Eventually, that interest shifted towards biology and academics; which is where I decided to pursue further education. I
            especially took a liking to ecology and the complex interactions between all forms of life, which ultimately led me to the field of palaeoecology, the study of past ecosystems and climate.
            <br><br>
            Yet the title at the top of this page says "Back-end Engineer". Turns out I realized I did not want to pursue a career in academic research <span class="emphasis">after</span> graduating.
            After some soul-searching and self-study, I discovered that I liked coding, along with all the puzzles and challenges it offers. Not looking to spend another half decade in school, I
            applied for several traineeships. Long story short, I succeeded, learned and experienced a lot, and landed my first gig as a back-end developer.
            <br><br>
            It has been a little while since starting that first position. I am very glad and fortunate that I am able to keep learning, facing challenges, solving puzzles, and remaining passionate
            to this day. My skillset has diversified tremendously, hence why I refer to myself as an engineer rather than a developer, and I am always looking out for that next opportunity to learn
            and challenge myself.
        </div>
        <div class="section-subheader">
            Major Skills
        </div>
        <div class="about-me-skillset">
            PHP, Symfony, MySQL, GitLab (Management), Jira (Management), Confluence (Management), Web Development, Server Management
        </div>
        <div class="section-subheader">
            Minor Skills
        </div>
        <div class="about-me-skillset">
            HTML, CSS, JavaScript, Node.js
        </div>
        <div class="section-subheader">
            Developing Skills
        </div>
        <div class="about-me-skillset">
            CI/CD, Docker, Python, Svelte
        </div>
    </div>
</section>