<section id="experience">
    <div id="experience-content" class="content-container">
        <div class="section-header">
            Experience
        </div>
        {% set experienceCount = collections.experiences | length %}
        {% for experience in collections.experiences %}
        {% set experience = experience.data %}
        <div class="experience-chapter">
            [
            <div class="experience-period">
                'start' => '{{ experience.start }}',
                <br>
                'end' &nbsp;&nbsp;=> {{ experience.end }},
            </div>
            <div class="experience-position">
                'company' &nbsp;=> '{{ experience.company }}',
                <br>
                'position' => '<span class="highlight-purple">{{ experience.position }}</span>',
            </div>
            <div class="experience-description">
                <div class="experience-description-index">'description' =>&nbsp;</div>
                <div class="experience-description-value justify">'{{ experience.description }}',</div>
            </div>
            <br>
            ]
        </div>


        <div class="experience-chapter-mobile">
            <div class="experience-row">
                <div class="experience-row-property">start</div>
                <div class="experience-row-separator">{{ '-' | repeat(13) }}</div>
                <div class="experience-row-value">{{ experience.start }}</div>
            </div>
            <div class="experience-row">
                <div class="experience-row-property">end</div>
                <div class="experience-row-separator">{{ '-' | repeat(13) }}</div>
                <div class="experience-row-value">{{ experience.end }}</div>
            </div>
            <div class="experience-row">
                <div class="experience-row-property">company</div>
                <div class="experience-row-separator">{{ '-' | repeat(13) }}</div>
                <div class="experience-row-value">{{ experience.company }}</div>
            </div>
            <div class="experience-row">
                <div class="experience-row-property">position</div>
                <div class="experience-row-separator">{{ '-' | repeat(13) }}</div>
                <div class="experience-row-value highlight-purple">{{ experience.position }}</div>
            </div>
            <div class="experience-row">
                <div class="experience-row-property">description</div>
                <div class="experience-row-separator">{{ '-' | repeat(13) }}</div>
                <div class="experience-row-value justify">{{ experience.description }}</div>
            </div>
        </div>
        {% if loop.index < experienceCount %} <div class="experience-spacer">
    </div>
    {% endif %}
    {% endfor %}
    </div>
</section>