{############}
{# About Me #}
{############}

{% macro aboutMeChapter(photoAlignment, title, description, photo, photoDescription = 'A photo of me.') %}
{% set photo %}
<div class="about-me-photo-container-{{ photoAlignment }}">
    <img class="about-me-photo" src="/img/Photo-{{ photo }}" alt="{{ photoDescription }}">
</div>
{% endset %}

<div class="about-me-chapter">
    {{ photo | safe if photoAlignment == 'left' }}
    <div class="about-me-description">
        <div class="about-me-header">
            <h2><span class="emphasis-purple">{{ title }}</span></h2>
        </div>
        <div class="about-me-text">{{ description | safe }}</div>
    </div>
    {{ photo | safe if photoAlignment == 'right' }}
</div>
{% endmacro %}

{##############}
{# Experience #}
{##############}

{% macro experience(name, link, icon, role, period, projects, description, pngIcon = false) %}
<div class="company-experience">
    <div class="company-logo-container">
        <a class="company-logo-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
            {% if pngIcon %}
            <img class="company-logo" src="/img/Logo-{{ icon }}.png" alt="The company logo for {{ name }}.">
            {% else %}
            <img class="company-logo" src="/img/Logo-{{ icon }}.svg" alt="The company logo for {{ name }}.">
            {% endif %}
        </a>
    </div>
    <div class="company-story">
        <div class="company-header">
            <div class="company-name">
                <h2><span class="emphasis-purple">{{ name }}</span></h2>
            </div>
            <div class="company-period">{{ period }}</div>
            <div class="company-projects">
                {{ projects | safe }}
            </div>
        </div>
        <div class="company-subheader">
            <h2>{{ role }}</h2>
        </div>
        <div class="company-description">
            {{ description | safe }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro experienceProject(name, icon, link) %}
<div class="company-project-logo-container">
    <a class="company-project-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
        <img class="company-project-logo" src="/img/{{ icon }}" alt="The logo for {{ name }}">
    </a>
</div>
{% endmacro %}

{############}
{# Projects #}
{############}

{% macro project(title, company, role, description, skills, links) %}
<div class="project" id="project-{{ title | replace(' ', '-') }}">
    <div class="project-header">
        <div class="project-name">
            <h2><span class="emphasis-purple">{{ title }}</span></h2>
        </div>
        <div class="project-company">
            <h2>{{ company }}</h2>
        </div>
    </div>
    <div class="project-subheader">
        <h2>{{ role }}</h2>
    </div>
    <div class="project-description">
        {{ description | safe }}
    </div>
    <div class="project-footer">
        <div class="project-skills">
            <div class="project-skills-title">Technology</div>
            <div class="project-skills-icons">
                {{ skills | safe }}
            </div>
        </div>
        <div class="project-links">
            <div class="project-links-title">Links & Media</div>
            <div class="project-links-icons">
                {{ links | safe }}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro projectSkillIcon(icon, link, wide = false) %}
<div class="project-skill-icon-container" title="{{ icon }}">
    <a class="project-skill-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
        <img class="project-skill-icon {% if wide %}project-skill-icon-wide{% endif %}" src="/img/Skills-{{ icon }}.svg" alt="The logo for {{ icon }}.">
    </a>
</div>
{% endmacro %}

{% macro projectLinkIcon(icon, link, wide = false) %}
<div class="project-link-icon-container">
    <a class="project-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
        <img class="project-link-icon {% if wide %}project-link-icon-wide{% endif %}" src="/img/Links-{{ icon }}.svg" alt="The logo for {{ icon }}">
    </a>
</div>
{% endmacro %}