<div id="mobile-navbar-container">
    <div id="mobile-navbar">
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="{{ '/' | url }}">Home</a>
        </div>
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="{{ '/about-me' | url }}">About Me</a>
        </div>
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="{{ '/experience' | url }}">Experience</a>
        </div>
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="{{ '/projects' | url }}">Projects</a>
        </div>
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="{{ '/contact' | url }}">Contact</a>
        </div>
        <div class="mobile-navbar-item">
            <a class="mobile-navbar-link" href="https://www.linkedin.com/in/1992-tom-peters/" target="_blank" rel="noopener noreferrer">
                <img id="mobile-navbar-linkedin" src="/img/logo/LinkedIn.svg" alt="The LinkedIn logo.">
            </a>
        </div>
    </div>
</div>