<header>
    <div class="navbar-left">
        <div class="navbar-item-far-left">
            <img id="navbar-logo" src="/img/Simple-Sigil.svg" alt="A personal logo.">
        </div>
        <div class="navbar-item-left navbar-text" id="navbar-name">
            <a class="navbar-link" href="{{ '/' | url }}">Tom Peters, MSc.</a>
        </div>
    </div>

    <div class="navbar-right">
        <div class="navbar-item-right navbar-text">
            <a class="navbar-link" href="{{ '/about-me' | url }}">About Me</a>
        </div>
        <div class="navbar-item-right navbar-text">
            <a class="navbar-link" href="{{ '/experience' | url }}">Experience</a>
        </div>
        <div class="navbar-item-right navbar-text">
            <a class="navbar-link" href="{{ '/projects' | url }}">Projects</a>
        </div>
        <div class="navbar-item-right navbar-text">
            <a class="navbar-link" href="{{ '/contact' | url }}">Contact</a>
        </div>

        <div class="navbar-item-far-right">
            <a class="navbar-link" href="https://www.linkedin.com/in/1992-tom-peters/" target="_blank" rel="noopener noreferrer">
                <img id="navbar-linkedin" src="/img/Linkedin.svg" alt="The LinkedIn logo.">
            </a>
        </div>
    </div>
</header>