<section id="opening-spacer"></section>
<section id="opening">
    <div id="opening-content" class="content-container">
        <div id="opening-header">
            <div id="opening-title">Tom Peters</div>
            <div id="opening-subtitle">Back-end Engineer</div>
        </div>
        <div id="opening-logo-container">
            {# <img id="opening-logo" src="/img/artwork/Sigil.svg" alt="A personal logo."> #}
            {% include "Sigil.svg" %}
        </div>
        <div id="opening-navbar">
            <a class="opening-navbar-item" href="#about-me">About Me</a>
            <a class="opening-navbar-item" href="#">Experience</a>
            <a class="opening-navbar-item" href="#">Education</a>
            <a class="opening-navbar-item" href="#">Projects</a>
            <a class="opening-navbar-item" href="#">Contact</a>
        </div>
    </div>
</section>