/*******************/
/* General Styling */
/*******************/

:root {
    --main-color: #282B34;
    --secondary-color: #888DAA;
    --header-color: #FFFFFF;
    --hover-color: #888DAA;
    --text-color: #FFFFFF;
    --emphasis-color-purple: #C27DFF;
    --emphasis-color-green: #9BFF9A;
    --emphasis-color-red: #FF7D7D;

    --header-height: 7.5vh;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    height: 100vh;

    background-color: var(--main-color);
    color: var(--text-color);

    font-family: 'Lora';
    font-size: 18pt;
}

h1 {
    font-family: 'Montserrat-Heavy';
    font-size: 40pt;
}

h2 {
    font-family: 'Montserrat-Medium';
    font-size: 30pt;
}

/******************/
/* Navigation Bar */
/******************/

header {
    font-family: 'Montserrat-Regular';
    font-size: 20pt;

    height: var(--header-height);

    padding-left: 12.5vw;
    padding-right: 12.5vw;
    border-bottom: 0.05em solid white;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navbar-left {
    display: flex;
}

.navbar-right {
    display: flex;
}

.navbar-item-left {
    padding-left: 2em;
}

.navbar-item-right {
    padding-right: 2em;
}

.navbar-text {
    height: 1em;
    margin-top: calc((0.5 * var(--header-height)) - (0.5 * 1em));
}

.navbar-link {
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
}

.navbar-active, .navbar-link:hover {
    color: var(--secondary-color);
}

#navbar-logo {
    width: calc(0.8 * var(--header-height));
    height: calc(0.8 * var(--header-height));

    margin-top: calc((0.5 * var(--header-height)) - (0.5 * 0.8 * var(--header-height)));
}

#navbar-linkedin {
    width: 2em;
    height: 2em;

    margin-top: calc((0.5 * var(--header-height)) - (0.5 * 2em));

    filter: brightness(0) saturate(100%) invert(100%);
    transition: 0.25s;
}

#navbar-linkedin:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(11%) saturate(663%) hue-rotate(194deg) brightness(96%) contrast(90%);
}

/**************/
/* Containers */
/**************/

#content-container {
    height: 100%;

    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}