#contact-file {
    background-color: var(--color-primary);
    border-left: 0.5vw solid var(--color-tertiary);
    font: var(--font-code);

    padding: 1vh;
}

#contact-file-class, .contact-file-function-content {
    padding-left: 2rem;
}

.contact-link {
    text-decoration: underline;
}

.highlight-grey {
    color: var(--color-secondary);
}