/****************/
/* Contact Form */
/****************/

.contact-form-container {
    margin-left: 2em;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-label {
    margin-bottom: 0.25em;

    font-family: 'Montserrat-Regular';
    color: var(--secondary-color);
}

.contact-form-text, .contact-form-textarea {
    background: var(--secondary-color-transparent);

    margin-bottom: 1em;
    padding: 0.25em;

    font-family: 'Lora';
    font-size: 18pt;
    color: var(--text-color);
}

.contact-form-text {
    height: 1em;
    width: 25em;
}

.contact-form-textarea {
    height: 25em;
    width: 50em;
}

#contact-form-submit {
    width: 5em;
    height: 2em;

    background: var(--secondary-color-transparent);

    font-family: 'Montserrat-Regular';
    font-size: 18pt;
    color: var(--secondary-color);
}

#contact-form-submit:hover {
    filter: brightness(1.5);
    transition: 0.25s;
    cursor: pointer;
}

/*******************/
/* Success Message */
/*******************/

#contact-success {
    display: none;

    margin-top: 10em;

    text-align: center;
}

#contact-success-text {
    margin-top: 1em;
}

#contact-success-signature {
    height: 5em;

    margin-top: 2em;

    filter: invert(1);
    opacity: 0.9;
}

/*****************/
/* Error Message */
/*****************/

#contact-error {
    width: 100vw;
    height: 10vh;

    position: fixed;
    bottom: -10vh;
    left: 0;

    border-top: 0.05em solid black;

    background-color: var(--emphasis-color-red);
    color: var(--main-color);
}

#contact-error-close {
    width: fit-content;
    height: fit-content;

    position: relative;
    float: right;

    margin-right: 1vh;

    font-family: 'Montserrat-Medium';
    cursor: pointer;
}

#contact-error-text {
    height: 5vh;
    line-height: 5vh;

    margin-top: calc((0.5 * 10vh) - (0.5 * 5vh));

    text-align: center;
}

/*******************/
/* Contact Blocker */
/*******************/

#contact-block-overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--overlay-color);
}

#contact-block-window {
    width: 20em;
    height: 27.5em;

    padding: 1em;
    border: solid 0.25em white;
    border-radius: 2%;
    margin-top: calc(20vh - var(--header-height));
    margin-left: auto;
    margin-right: auto;

    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#contact-block-header {
    width: fit-content;

    font-size: 5em;
    text-align: center;

    cursor: pointer;
}

#contact-block-text {
    text-align: justify;
    font-family: 'Montserrat-Regular';
}

#contact-block-link-container {
    text-align: center;
}

#contact-block-linkedin {
    width: 4em;
    height: 4em;

    filter: brightness(0) saturate(100%) invert(100%);
}

#contact-block-linkedin:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(11%) saturate(663%) hue-rotate(194deg) brightness(96%) contrast(90%);
    transition: 0.25s;
}

/*****************/
/* Small Screens */
/*****************/

@media only screen and (max-width: 1280px) {
    .contact-form-container {
        margin-left: 0;
    }

    .contact-form-text, .contact-form-textarea {
        font-size: calc(18pt / 2);
        width: 100%;
    }

    #contact-form-submit {
        font-size: calc(18pt / 2);
    }
}