body {
    background-image: url('/img/artwork/Dull-Stars.svg');
    background-size: 25%;
}

#homepage {
    text-align: center;

    margin-top: 7.5vh;
}

#homepage-header, #homepage-logo-container, #homepage-navbar, #homepage-socials {
    width: fit-content;
    margin: auto;
}

#homepage-title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 75pt;
}

#homepage-subtitle {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25pt;
}

#homepage-logo-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#homepage-logo {
    width: 50vh;
    height: 50vh;
}

#homepage-navbar {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25pt;

    display: flex;
}

.homepage-navbar-item {
    padding-left: 1em;
    padding-right: 1em;
}

#homepage-socials {
    padding-top: 2.5vh;
}

#homepage-linkedin {
    width: 2em;
    height: 2em;

    filter: brightness(0) saturate(100%) invert(100%);
    transition: 0.25s;
}

#homepage-linkedin:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(11%) saturate(663%) hue-rotate(194deg) brightness(96%) contrast(90%);
}

/*****************/
/* Small Screens */
/*****************/

@media only screen and (max-width: 1680px) {
    #homepage-title {
        font-size: calc(75pt / 1.5);
    }

    #homepage-subtitle {
        font-size: calc(25pt / 1.5);
    }

    #homepage-logo {
        width: calc(50vh / 1.5);
        height: calc(50vh / 1.5);
    }

    #homepage-navbar {
        font-size: calc(25pt / 1.5);
    }

    .homepage-navbar-item {
        padding-top: calc(1em / 1.5);
        padding-bottom: calc(1em / 1.5);
    }

    #homepage-linkedin {
        width: calc(2em / 1.5);
        height: calc(2em / 1.5);
    }
}

@media only screen and (max-width: 1280px) {
    #homepage-title {
        font-size: calc(75pt / 2);
    }

    #homepage-subtitle {
        font-size: calc(25pt / 2);
    }

    #homepage-logo {
        width: calc(50vh / 2);
        height: calc(50vh / 2);
    }

    #homepage-navbar {
        font-size: calc(25pt / 2);

        flex-direction: column;
    }

    .homepage-navbar-item {
        padding-top: calc(1em / 2);
        padding-bottom: calc(1em / 2);
    }

    #homepage-linkedin {
        width: calc(2em / 2);
        height: calc(2em / 2);
    }
}