body {
    background-image: url('/img/artwork/Dull-Stars.svg');
    background-size: 25%;
}

#homepage {
    text-align: center;

    margin-top: 7.5vh;
}

#homepage-header, #homepage-logo-container, #homepage-navbar, #homepage-socials {
    width: fit-content;
    margin: auto;
}

#homepage-title {
    font-family: 'Montserrat-Heavy';
    font-size: 75pt;
}

#homepage-subtitle {
    font-family: 'Montserrat-Medium';
    font-size: 25pt;
}

#homepage-logo-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#homepage-logo {
    width: 50vh;
    height: 50vh;
}

#homepage-navbar {
    font-family: 'Montserrat-Medium';
    font-size: 25pt;

    display: flex;
}

.homepage-navbar-item {
    padding-left: 1em;
    padding-right: 1em;
}

#homepage-socials {
    padding-top: 2.5vh;
}

#homepage-linkedin {
    width: 2em;
    height: 2em;

    filter: brightness(0) saturate(100%) invert(100%);
    transition: 0.25s;
}

#homepage-linkedin:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(11%) saturate(663%) hue-rotate(194deg) brightness(96%) contrast(90%);
}