.project-header {
    display: flex;
}

.project-company {
    color: var(--secondary-color);

    margin-left: 1em;
}

.project-description {
    text-align: justify;

    margin-top: 1em;
}

.project-footer {
    width: 100%;
    height: 4em;

    margin-top: 1em;

    display: flex;
}

.project-skills, .project-links {
    height: fit-content;
}

.project-links {
    margin-left: auto;
}

.project-skills-title, .project-links-title {
    height: fit-content;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20pt;
    color: var(--secondary-color);
}

.project-skills-title {
    text-align: left;
}

.project-links-title {
    text-align: right;
}

.project-skills-icons, .project-links-icons {
    height: 2em;

    padding: 0.25em;

    border: solid 0.125em var(--secondary-color);

    display: flex;
}

.project-links-icons {
    justify-content: right;
}

.project-skill-link:hover, .project-link:hover {
    filter: brightness(0.75);
}

.project-skill-icon, .project-link-icon {
    width: 2em;
    height: 2em;
}

.project-skill-icon {
    margin-right: 0.5em;
}

.project-link-icon {
    margin-left: 0.5em;
}

.project-skill-icon-wide, .project-link-icon-wide {
    width: 4em;
}

.horizontal-separator {
    width: 25vw;

    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: calc(50% - (0.5 * 25vw));

    border-top: solid 0.25em var(--secondary-color-transparent);
}

/*****************/
/* Small Screens */
/*****************/

@media only screen and (max-width: 1280px) {
    .project-header {
        flex-direction: column;
        text-align: center;
    }

    .project-company {
        margin-left: 0;
    }

    .project-subheader {
        margin-top: 1em;

        text-align: center;
    }

    .project-footer {
        height: fit-content;

        flex-direction: column;
        align-items: center;
    }

    .project-links {
        margin-left: 0;
        margin-top: 1em;
    }

    .project-skills-title, .project-links-title {
        text-align: center;
        font-size: calc(20pt / 2);
    }
}