{% extends "base.njk" %}

{% block title %}
Tom Peters, MSc. | About Me
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ '/css/about-me.css' | url }}">
{% endblock stylesheet %}

{% block content %}
<h1>About Me</h1>

<div class="about-me-quote">
    <div class="about-me-quote-primary">"Astra inclinant, sed non obligant."</div>
    <div class="about-me-quote-secondary">"The stars incline us, they do not bind us."</div>
</div>

{##############}
{# This Is Me #}
{##############}

{% set description %}
Hello there!
<br><br>
I'm Tom, a web developer with a background in biology.
I made the switch from academics to IT in 2016, and it's hard to believe that it's been over half a decade by now.
I greatly enjoy the puzzling and problem-solving aspects of programming, and I've been fortunate to work on many different challenges.
<br><br>
Luckily, I'm not a worker bee, but I have a rich personal life that brings me loads of joy as well.
In my free time, I like to play video and board games, hang out with my cats, play my bass guitar, go dancing with friends, try out restaurants, and drink cocktails.
There's an entire universe out there, I would be remiss of me to not grow as a person by always looking for the next thing to learn or experience.
{% endset %}

{{ macro.aboutMeChapter('left', 'This Is Me', description, 'Casual.jpg') }}

{##############}
{# Growing Up #}
{##############}

{% set description %}
I was born and raised in Zaandam, The Netherlands, a city right next to the Dutch capital of Amsterdam.
My parents raised me to follow my heart, yet to temper and balance it out with rational thought.
From a young age, I regularly came in contact with both nature and technology, feeding into my fascination with how things worked, be it plants, animals, or computers.
<br><br>
Growing up around pets, I initially wanted nothing more than to become a veterinarian and help animals.
So it was that at school, I attended a curriculum mostly built around the natural sciences, with a hint of informatics.
However, eventually the sciences won me over and my interest switched toward biology and academics, rather than veterinary medicine.
<br><br>
I wanted nothing more to keep learning and understand the world around us better, so I pursued a degree in biology at the University of Amsterdam.
{% endset %}

{{ macro.aboutMeChapter('right', 'Growing Up', description, 'Youth.jpg') }}

{###################}
{# Always Learning #}
{###################}

{% set description %}
Over a period of five years, I would work hard to achieve both a Bachelor's and Master's degree in biology.
As the courses became increasingly specialized and detailed, I eventually chose to focus on ecology rather than microbiology.
This is how I first learned of Palaeoecology in my third year, a field of science concerned with studying the Earth's past climate via (sub-)fossil remains of flora and fauna.
<br><br>
Palaeoecology is where I found my academic calling.
During the final year of my Bachelor's and my entire Master's degree, I made sure to improve my academic mind- and skillset, and to experience as many relevant research techniques as possible.
After working on research projects in The Netherlands, Germany, and United States, I eventually graduated with a Master's degree in Biological Sciences.
<br><br>
Experience and degree in hand, I was now ready to enter the academic world proper.
As most researchers tend to, it was time to find a PhD position to move further up the scientific ladder.
{% endset %}

{{ macro.aboutMeChapter('left', 'Always Learning', description, 'Coring.jpg') }}

{###################}
{# Diverging Paths #}
{###################}

{% set description %}
After receiving my Master's degree, I first started looking for a PhD position close to home.
At the University of Amsterdam, I was one of two final candidates out of several dozens of applicants.
Ultimately, however, the other candidate turned out to be more suitable for the position.
Looking beyond Amsterdam, the nearest PhD positions in palaeoecology were in Belgium and the United Kingdom.
<br><br>
The thought of emigrating made me sit down and think about what I wanted in life at that time.
I greatly enjoyed doing research and analysis, but the "nomadic" lifestyle and constant struggle for research grants discouraged me.
In the end, I decided to leave the academic world.
<br><br>
At first, I looked for opportunities outside academics, but I was too specialized for most biology and ecology positions.
Eventually, I realized I had to reconsider working in biology at all.
So it was that I turned to old passions and interests, one of which was programming.
I had always been interested in coding, but it seemed too complicated and I never pursued it.
<br><br>
A few Codecademy courses later, I had found out I thoroughly enjoyed the challenging puzzles and problems offered by programming.
Not wanting to spend another few years on earning degrees, I would start looking for IT traineeships in 2016.
{% endset %}

{{ macro.aboutMeChapter('right', 'Diverging Paths', description, 'Monitors.jpg') }}

{##############}
{# A New Hope #}
{##############}

{% set description %}
I went through several job interviews for traineeships in a variety of fields.
Some of them I rejected, rejected me, or did not believe the definitiveness of my career switch.
Persistence paid off, however, and I found a position with a company that offered IT-related traineeships to those with science degrees.
<br><br>
This is really where it all started snowballing.
I went through a coding bootcamp, chose to focus on back-end development, and was assigned to my first project, a Symfony-based SaaS web application.
<br><br>
It was the start of something new and fun, and I have been continually challenging myself ever since.
I will always strive to grow, be it through improvement of existing skills or by learning new ones.
It is a ever-repeating pattern in my life that continues to drive me, and always will.
{% endset %}

{{ macro.aboutMeChapter('left', 'A New Hope', description, 'Bench.jpg') }}
{% endblock content %}}