{% extends "base.njk" %}

{% block title %}
Tom Peters, MSc. | About Me
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ '/css/about-me.css' | url }}">
{% endblock stylesheet %}

{% block content %}
<h1>About Me</h1>

<div class="about-me-quote">
    <div class="about-me-quote-primary">"Astra inclinant, sed non obligant."</div>
    <div class="about-me-quote-secondary">"The stars incline us, they do not bind us."</div>
</div>

{##############}
{# This Is Me #}
{##############}

{% set description %}
Hello there!
<br><br>
I'm Tom, a back-end web developer with a background in biology.
I made the switch from academics to IT in 2016, and it's hard to believe that it's been over half a decade by now.
I greatly enjoy the puzzling and problem-solving aspects of programming, and I've been fortunate to work on many different challenges.
<br><br>
Luckily, I'm not a simple worker bee, but I have a rich personal life that brings me loads of joy as well.
In my free time, I like to play video and board games, hang out with my cats, play my bass guitar, go dancing with friends, try out restaurants, and drink cocktails.
Generally, topics I am usually interested in include PC building, the natural sciences, space, and most ancient mythologies.
<br><br>
There's an entire universe out there, I would be remiss of me to not grow as a person by always looking for the next thing to learn or experience.
{% endset %}

{{ macro.aboutMeChapter('left', 'This Is Me', description, 'Casual.jpg') }}

{###################}
{# Always Learning #}
{###################}

{% set description %}
From a young age, I regularly came into contact with both nature and technology, feeding into my fascination with how things worked, be they plants, animals, or computers.
Initially, I wanted nothing more than to become a veterinarian and help animals.
Yet over time the natural sciences won me over and my interest switched toward biology and academics, rather than veterinary medicine.
<br><br>
This interest led me to pursue a degree in biology, specifically in ecology.
As the courses became increasingly specialized, I was eventually introduced to palaeoecology, a field of science which studies past climate via (sub-)fossil remains of flora and fauna.
This is where I found my academic calling.
During the remainder of my degree, I made sure to improve my academic mind- and skillset, and to experience as many relevant research techniques as possible.
<br><br>
After five years of hard work across Europe and the United States, I graduated with a Master's degree in Biological Sciences in 2015.
Experience and degree in hand, I was now ready to enter the academic world proper.
And as most graduate researchers tend to do, it was time to find a PhD position to move further up the scientific ladder.
{% endset %}

{{ macro.aboutMeChapter('right', 'Always Learning', description, 'Coring.jpg') }}

{####################}
{# Adapt & Overcome #}
{####################}

{% set description %}
After a few near-misses, which forced me to stop and think about what I wanted from life.
While I greatly enjoyed doing research and analysis, other aspects of academics ultimately discouraged me from pursuing this path any further.
So it was that I elected to leave the academic world.
<br><br>
I quickly realized that I was too specialized for most commercial biology and ecology positions.
So I turned to old passions and interests, one of which was programming, to see where they would guide me.
I had always had an interest in coding, but it had seemed far too complicated, so I never pursued it.
<br><br>
Through online courses, I found out I thoroughly enjoyed the challenging puzzles and problems offered by programming.
Having found this new path, I would start looking and eventually find a IT traineeship.
This traineeship allowed me to choose back-end development as my focus, and it assigned me my first project, a Symfony-based SaaS web application.
<br><br>
It was the start of something new and fun, and I have been continually challenging myself ever since.
I will always strive to grow, be it through improvement of existing skills or by learning new ones.
It is a ever-repeating pattern in my life that continues to drive me, and always will.
{% endset %}

{{ macro.aboutMeChapter('left', 'Adapt & Overcome', description, 'Monitors.jpg') }}
{% endblock content %}}