{% extends "base.njk" %}

{% block title %}
Tom Peters, MSc. | Experience
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ '/css/experience.css' | url }}">
{% endblock stylesheet %}

{% block content %}
<h1>Experience</h1>

{##############}
{# 3Fiftynine #}
{##############}

{% set description %}
I started out as a Junior Back-end Developer responsible for rebuilding a ColdFusion web application into a modern PHP application. As time passed, I soon became one of the driving forces behind the
Development department, its infrastructure, its technology, and its projects.
<br><br>
Part of the main Agile web development team, I was the primary back-end developer for five projects: three SaaS products, an internal authentication and security hub, and a management portal. Beyond
that, I managed the company's GitLab, Jira, and Confluence environments, as well as managing server content, DNIS, and CI/CD.
{% endset %}

{% set projects %}
{{ macro.experienceProject('Branches', 'Favicon-Branches.ico', 'https://www.3fiftynine.nl/producten/branchescx/home') }}
{{ macro.experienceProject('CardBoard', 'Favicon-CardBoard.ico', 'https://www.3fiftynine.nl/producten/cardboardcx/home') }}
{{ macro.experienceProject('Sensetool', 'Favicon-Sensetool.ico', 'https://www.soaaids.nl/nl') }}
{% endset %}

{{ macro.experience('3Fiftynine', 'https://www.3fiftynine.nl/', '3Fiftynine', 'Back-end Developer', 'May 2017 - Present', projects, description) }}

<div class="timeline"></div>

{################}
{# True Legends #}
{################}

{% set description %}
I was part of True Legends' Young Talent Traineeship, in whic those who received a formal education outside of IT were trained in project management and software development. My traineeship was mostly
geared towards software development, preparing me for eventually becoming a back-end developer.
<br><br>
As the company was primarily a deployment agency, one of my projects was the development of the back-end for a call center scripting application for a company that turned out to be my future employer.
{% endset %}

{% set projects %}
{{ macro.experienceProject('3Fiftynine', 'Logo-3Fiftynine.svg', 'https://www.3fiftynine.nl/') }}
{% endset %}

{{ macro.experience('True Legends', 'https://www.truelegends.nl/', 'TrueLegends', 'Young Professional (Trainee)', 'September 2016 - April 2017', projects, description, true) }}

<div class="timeline"></div>

{####################################}
{# University of Amsterdam - Master #}
{####################################}

{% set description %}
Following my Bachelor's in Biology, I started a Master's in Biological Sciences with a particular focus on the "Ecology and Evolution" track, due to my fascination with palaeoecology.
This particular Master's program consisted mostly of two research projects and a literature thesis:
<br><br>
<em>Climatic change at lake Hämelsee: a chironomid-based reconstruction of temperatures during the Younger Dryas - Preboreal transition</em> (2014; University of Amsterdam)
<br><br>
<em>Conservation Palaeoecology: The application of palaeoecological research in the conservation and restoration of oceanic islands</em> (2014; University of Amsterdam & Utrecht University)
<br><br>
<em>Environment or Taxonomy? Identifying the major drivers of leaf wax traits diversity in the Peruvian rainforest and cloud forest</em> (2015; University of Amsterdam & University of Southern
California)
{% endset %}

{% set projects %}
{{ macro.experienceProject('University of Amsterdam', 'Logo-UvA.svg', 'https://www.uva.nl/en/programmes/masters/biological-sciences/biological-sciences.html') }}
{% endset %}

{{ macro.experience('University of Amsterdam', 'https://www.uva.nl/', 'UvA', 'Master of Science: Biological Sciences', 'September 2013 - August 2015', projects, description) }}

<div class="timeline"></div>

{######################################}
{# University of Amsterdam - Bachelor #}
{######################################}

{% set description %}
My Bachelor's in Biology consisted of three years of increasingly specialized topics. My particular interest was in ecology, which ultimately culminated in my fascination for palaeoecology and a
related graduation thesis:
<br><br>
<em>A Late Holocene Lake-Level Lowstand - A Case Study on Lake-Level Changes at Uddelermeer, the Netherlands</em> (2013; University of Amsterdam)
{% endset %}

{% set projects %}
{{ macro.experienceProject('University of Amsterdam', 'Logo-UvA.svg', 'https://www.uva.nl/programmas/bachelors/biologie/biologie.html') }}
{% endset %}

{{ macro.experience('University of Amsterdam', 'https://www.uva.nl/', 'UvA', 'Bachelor of Science: Biology', 'September 2010 - August 2013', projects, description) }}
{% endblock content %}