{% extends "base.njk" %}

{% block title %}
Tom Peters, MSc.
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ '/css/homepage.css' | url }}">
{% endblock stylesheet %}

{% block navbar %}{% endblock navbar %}

{% block content %}
<div id="homepage">
    <div id="homepage-header">
        <div id="homepage-title">Tom Peters</div>
        <div id="homepage-subtitle">Back-end Developer</div>
    </div>

    <div id="homepage-logo-container">
        <img id="homepage-logo" src="/img/Sigil.svg" alt="A personal logo.">
    </div>
    <div id="homepage-navbar">
        <div class="homepage-navbar-item">
            <a class="homepage-link" href="{{ '/about-me' | url }}">About Me</a>
        </div>
        <div class="homepage-navbar-item">
            <a class="homepage-link" href="{{ '/experience' | url }}">Experience</a>
        </div>
        <div class="homepage-navbar-item">
            <a class="homepage-link" href="{{ '/projects' | url }}">Projects</a>
        </div>
        <div class="homepage-navbar-item">
            <a class="homepage-link" href="{{ '/contact' | url }}">Contact</a>
        </div>
    </div>

    <div id="homepage-socials">
        <a class="homepage-link" href="https://www.linkedin.com/in/1992-tom-peters/" target="_blank" rel="noopener noreferrer">
            <img id="homepage-linkedin" src="/img/Linkedin.svg" alt="The LinkedIn logo."></a>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}