{% extends "base.njk" %}

{% block title %}
Tom Peters, MSc.
{% endblock title %}

{% block content %}
    {% include "opening.njk" %}
    {% include "about-me.njk" %}
    {% include "experience.njk" %}
    {% include "projects.njk" %}
    {% include "education.njk" %}
    {% include "contact.njk" %}
{% endblock content %}